<h1>Vota Prato</h1>
<%= link_to "Restaurantes", controller: "restaurantes" %> <br />
<%= link_to "Clientes", controller: "clientes" %> <br />
<%= link_to "Qualificacoes", controller: "qualificacoes" %> <br />
<%= link_to "Comentarios", controller: "comentarios" %> <br />