<h1>Listagem de Restaurantes</h1>

<table class="table">
	<tr>
		<th>ID</th>
		<th>Nome</th>
		<th>Endereço</th>
		<th></th>
	</tr>

	<% @restaurantes.each do |r| %>
		<tr>
			<td><%= r.nome %></td>
			<td><%= r.endereco %></td>
			<td><%= r.especialidade %></td>
			<td>
				<%= link_to 'Mostrar', action: 'show', id: r %>
			</td>
		</tr>
	<% end %>
</table>